/* Estilos base gerais para todos os breakpoints do blog ontem é só memória */
@import url(https://fonts.googleapis.com/css?family=Bricolage+Grotesque);
/* Cor de fundo */
body {
  background-color: #fcedd4;
}
/* Cor de fundo da seleção de texto */
::selection {
  background: #FAAB78;
}
/* Smooth Scroll */
html{
  scroll-behavior: smooth;
  }
/* Scrollbar personalizada */
::-webkit-scrollbar {
  width: 12px;
  background-color: #fffdfa;
}
::-webkit-scrollbar-thumb {
  background-color: #FAAB78;
}
/* Ion Icons */
ion-icon {
  font-size: 32px;
}
/* Efeito nos campos de input de texto aplicável a todo o tema */
input:focus {
  outline: 2px solid #FAAB78;
}
/* Estilos do Header aplicáveis a todo o tema */
header {
  display: block;
  float: none;
}
/* Estilos da barra de navegação aplicáveis a todo o tema */
nav {
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: -6px;
  line-height: 1.6em;
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  text-align: center;
}
nav a {
  padding: 3px 6px 3px 6px;
  border-radius: 6px;
  border: none;
  color: #050300;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  background-color: #fffdfa;
  border: none;
  outline: 1px solid #05030040;
}
/* Efeito do indicador da barra de scroll aplicável a todo o tema */
nav progress {
	position: fixed;
	width: 100%;
}
nav .progress--wpr {
	width: 100%;
	height: 6px;
}
nav .progress--bar {
	height: 6px;
	background-color: #fffdfa;
	width: 0%;
  transition: width 0.5s ease;
}
/* Estilo do HEADER 1 H1 aplicável a todo o tema */
h1 {
  font-size: 26px;
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}
/* Estilos da cor dos links e links já visitados dentro do main aplicável a todo o tema */
main {
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
}
main a {
  color: #050300;
}
main a:hover {
  color: #050300;
  text-decoration: underline;
}
main a:visited {
  color: #050300;
}
/* Estilos da cor dos links e links já visitados dentro do aside aplicável a todo o tema */
aside{
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
}
aside a {
  color: #050300;
  text-decoration: none;
  font-weight: normal;
}
aside a:hover {
  color: #050300;
  text-decoration: underline;
}
aside a:visited {
  color: #050300;
}
/* Estilos da cor dos links e links já visitados dentro do footer aplicável a todo o tema */
footer {
  content: "";
  clear: both;
  display: block;
  float: none;
  border-radius: 6px;
  border: none;
  background-color: #FAAB78;
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  font-weight: normal;
  text-align: center;
  color: #050300;
}
footer a {
  color: #050300;
  text-decoration: none;
}
footer a:hover {
  color: #fffdfa;
  text-decoration: underline;
}
/* Estilos do título dos posts aplicável a todo o tema */
.post-title {
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 1.6em;
  text-decoration: underline;
  color: #050300;
}
.post-title a {
  padding: 4px 6px 4px 6px;
  background-color: #fffdfa;
  border-radius: 6px;
  border: none;
  text-decoration: underline;
}
.post-title a:hover {
  text-decoration: none;
  background-color: #fffdfa;
  color: #050300;
  border-radius: 6px;
  border: none;
  outline: 1px solid #05030060;
}
/* Estilos do breadcrumbs nos posts aplicável a todo o tema */
ul.breadcrumb {
  padding: 4px 4px;
  margin: 0;
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
}
ul.breadcrumb li {
  display: inline-block;
  font-size: 18px;
}
ul.breadcrumb li+li:before {
  padding: 4px;
  margin: 0px;
  color: #050300;
  content: "\00B7";
}
ul.breadcrumb li a {
  color: #050300;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #050300;
  text-decoration: underline;
}
ul.socials {
  display: inline-block;
  padding: 4px;
  margin: 0px;
  font-size: 18px;
}
ul.socials a {
  font-size: 20px;
  text-decoration: none;
  border-radius: 6px;
  color: #050300;
  padding: 6px;
}
ul.socials a:hover {
  color: #fffdfa;
  background-color: #050300;
}
/* Caixa de Pesquisa na barra lateral */
.searchboxaside {
  display: block;
  min-width: 80%;
  margin: 20px 0px 20px 0px;
  padding: 10px 10px 10px 10px;
  border: none;
  border-radius: 6px;
  outline: 1px solid rgba(250, 171, 120, .4);
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  font-size: 18px;
}
/* Dropdown Button */
.dropbtn {
  background-color: #fffdfa;
  border-radius: 6px;
  color: #050300;
  padding: 10px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Bricolage Grotesque", Verdana, sans-serif;
  border: none;
  outline: 2px solid #FAAB78;
  cursor: pointer;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #fffdfa;
  border-radius: 6px;
  min-width: 160px;
  box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: #050300;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #fcedd4;
  border-radius: 6px;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}
/* Dispositivos com resolução máxima até 480px de largura */
@media (max-width: 480px) {
  body {
    margin: 0px 2% 0px 2%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: none;
    width: 100%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}
/* Dispositivos com resolução máxima até 767px de largura */
@media (min-width:481px) and (max-width:767px) {
  body {
    margin: 0px 2% 0px 2%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: none;
    width: 100%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}
/* Dispositivos com resolução máxima até 991px de largura */
@media (min-width:768px) and (max-width:991px) {
  body {
    margin: 0px 4% 0px 4%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: none;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: none;
    width: 100%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}
/* Dispositivos com resolução máxima até 991px de largura */
@media (min-width:992px) and (max-width:1199px) {
  body {
    margin: 0px 5% 0px 5%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: left;
    width: 30%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}
/* Dispositivos com resolução máxima até 1919px de largura */
@media (min-width:1200px) and (max-width:1919px) {
  body {
    margin: 0px 12% 0px 12%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: left;
    width: 30%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}
/* Dispositivos com resolução máxima até 1920px de largura */
@media (min-width: 1920px) {
  body {
    margin: 0px 14% 0px 14%;
  }
  header {
    text-align: center;
  }
  nav {
    display: block;
    float: none;
    width: 100%;
    padding: 8px 0px 0px 0px;
    border-radius: 6px;
    background-color: #FAAB78;
    border-bottom: 1px solid #05030010;
    font-size: 20px;
  }
  main {
    display: block;
    float: left;
    width: 70%;
    margin: 0px;
    padding: 0px;
    background-color: #fffdfa;
    border-radius: 6px;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  main h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  main h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  section {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article {
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  .post-title {
    font-size: 22px;
  }
  .breadcrumbs {
    display: inline-block;
    font-family: "Bricolage Grotesque", Verdana, sans-serif;
    font-size: 18px;
    font-weight: normal;
  }
  article img {
    max-width: 70%;
    height: auto;
    border-radius: 6px;
  }
  .botoesdepartilharedesociais {
    display: inline-block;
  }
  aside {
    display: block;
    float: left;
    width: 30%;
    border-radius: 6px;
    background-color: #fffdfa;
    border: none;
    outline: 1px solid rgba(250, 171, 120, .4);
    font-size: 18px;
    font-weight: normal;
    color: #050300;
  }
  aside img {
    max-width: 60%;
    height: auto;
    border-radius: 6px;
  }
  aside h2 {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h3 {
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  aside h4 {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: #050300;
  }
  footer {
    margin: 20px 0px 30px 0px;
    padding: 2px 0px 2px 0px;
    font-size: 18px;
  }
}